<section id="about" class="py-20 text-white">
  <main class="max-w-6xl mx-auto px-6 grid md:grid-cols-2 gap-10 items-center text-center md:text-start">
    
    <!-- Imagen -->
    <div class="flex justify-center">
      <img
        src="/img/yo.png"
        alt="Foto de Juan Herrera"
        class="w-60 h-60 object-cover rounded-full border-4 border-[#1f2c39] shadow-xl"
      />
    </div>

    <!-- Texto -->
    <div>
      <h2 class="text-4xl md:text-5xl font-bold mb-4">Sobre mí</h2>
      <p class="text-gray-400 mb-6 text-lg leading-relaxed">
        Soy Juan Herrera, estudiante de Ingeniería en Sistemas y desarrollador frontend. Me encanta crear experiencias atractivas con React, Tailwind y Astro.
      </p>
      <p class="text-gray-400 mb-6 text-lg leading-relaxed">
        Me apasiona aprender nuevas tecnologías y mejorar mis habilidades. Siempre estoy buscando nuevos desafíos y oportunidades para crecer como desarrollador.
      </p>
    </div>

  </main>
</section>
